<script type="text/ng-template" id="firstDialogId">
<div class="container-fluid">
 
 <table class="table table-striped">
  <thead>
  <tr>
  <td>Release Name</td>
  <td>File Name</td>
  <td>DownLoad</td>
  
  </tr>
  </thead>
  <tbody>
    <tr ng-repeat="doc in docs ">
    <td>{{ doc.productName }}</td>
    <td>{{doc.documentName}}</td>
       <td>
                <a ng-href={{url}} ng-click="download(doc.productName,doc.name,doc.documentName)">
                        Download
                </a>
       </td>
  </tr>
  </tbody>
</table>
</div>
 </script>

<script type="text/ng-template" id="upLoadId">
 <div>
        <form name="form">
<fieldset>
             Single file 
   {{product }}
   {{release }}
release
  <div>Select
        <input type="file" ngf-select ng-model="frsFile" name="file"    
             accept="*" ngf-max-size="20MB" required
             ngf-model-invalid="errorFile">
</div>
   <button type="submit" ng-click="submit(frsFile,product,release)">submit</button>
    <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%" 
            ng-bind="picFile.progress + '%'"></div>
      </span>
      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </fieldset>
</form>

</div>
 </script>
 
<div class="container-fluid">
	<div >
	 
	 <table class="table table-striped">
	  <thead>
	  <tr>
	  <td>Product Name</td>
	  <td>Release Name</td>
	  <td>Status</td>
	  <td>Owner</td>
	  <td>Start-Date</td>
	  <td>End-Date</td>
	  <td>Mnode received?</td>
	  <td>Comments</td>
	  <td>FRS</td>
	  <td>Upload</td>
	  <td align="center">Action</td>
	  </tr>
	  </thead>
	  <tbody>
	  <form>
	    <div class="form-group">
	      <div class="input-group">
	        <div class="input-group-addon"><i class="fa fa-search"></i></div>
	
	        <input type="text" class="form-control" placeholder="Search" ng-model="searchRelease"/>
	
	      </div>      
	    </div>
	  </form>
	  <tr ng-repeat="release in releases | filter:searchRelease">
	    <td>{{ release.productName }}</td>
	    <td>{{ release.name }}</td>
	     <td>{{ release.status }}</td>
	      <td>{{ release.owner }}</td>
	     <td>{{ release.startDate  | date:'dd/MM/yyyy' }}</td>
	     <td>{{ release.endDate  | date:'dd/MM/yyyy'}}</td>
	      <td>{{ release.mnodeAvailable }}</td>
	       <td>{{ release.comments }}</td>
	       <td>
                <a  ng-click="clickToOpen(release.productName,release.name)">
                        View FRS
                   
                </a>
       	</td>
       		       <td>
       
                <a  ng-click="clickToUpload(release.productName,release.name)">
                       upload FRS
                   
                </a>
                
       		</td>
	       <td> <button type="button" class="btn btn-sm btn-primary" ng-click="edit(release)"> Edit</button>
	      </td>
	       <td> <button type="button" class="btn btn-sm btn-primary" ng-click="deleteRelease(release)"> Delete</button></td>
	      

	  </tr>
	   <p ng-show="!releases.length">No Data found</p>
	    
	  </tbody>
	</table>
	</div>
	
	  <div>
	     <button type="button" class="btn  btn-primary"  ng-click="show()">Add Release</button>
	
	 </div> 
      {{testDate}}
   <mwl-calendar
    view="calendarView"
    view-date="todayDate"
    events="events"
    view-title="calendarTitle"
    on-event-click="eventClicked(calendarEvent)"
    on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
    edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
    delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
    on-edit-event-click="eventEdited(calendarEvent)"
    on-delete-event-click="eventDeleted(calendarEvent)"
    cell-is-open="true">
</mwl-calendar>
	    
	    
	</div>
