<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 
      <servlet>
           <servlet-name>mToolRestServlet</servlet-name>
            <servlet-class>
                com.sun.jersey.spi.container.servlet.ServletContainer
            </servlet-class>
  
		         <init-param>
                    <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
                    <param-value>true</param-value>
                </init-param>       
		       
        <load-on-startup>1</load-on-startup>
        
 
  
    </servlet>
    

    
        <servlet-mapping>
          <servlet-name>mToolRestServlet</servlet-name>
	      <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    
    <context-param>
     <param-name>resteasy.scan</param-name>
     <param-value>false</param-value>
     </context-param>

    <context-param>
       <param-name>resteasy.scan.resources</param-name>
       <param-value>false</param-value>
    </context-param>

    <context-param>
     <param-name>resteasy.scan.providers</param-name>
     <param-value>false</param-value>
   </context-param>
  
     
     
     <servlet>
        <servlet-name>file_upload</servlet-name>
        <servlet-class>com.mavenir.resource.FileUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>file_upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    
    
  
  	<servlet>  
    <servlet-name>DownloadServlet</servlet-name>  
    <servlet-class>com.mavenir.resource.DownloadServlet</servlet-class>  
    </servlet>  
  
    <servlet-mapping>  
    <servlet-name>DownloadServlet</servlet-name>  
        <url-pattern>/download</url-pattern>  
    </servlet-mapping>  
    
    
      
     
</web-app>
